<div class="quiz-container">

  <button class="sair-btn" (click)="sairDoJogo()">
    Sair do jogo
  </button>

  <div class="quiz-card" *ngIf="perguntaAtual">

    <div class="topo-quiz">

      <h2>
        Pergunta {{ indicePergunta + 1 }} de {{ perguntas.length }}
      </h2>

    <span
      class="dificuldade"
      [ngClass]="{
      'facil': perguntaAtual.dificuldade === 'FACIL',
      'media': perguntaAtual.dificuldade === 'MEDIA',
      'dificil': perguntaAtual.dificuldade === 'DIFICIL'
    }">

  {{ perguntaAtual.dificuldade }} • {{ perguntaAtual.pontos }} pts

</span>

    </div>

    <div class="imagem-area">
      <img [src]="obterImagem()" [alt]="perguntaAtual.enunciado">
    </div>

    <h1 class="enunciado">
      {{ perguntaAtual.enunciado }}
    </h1>

    <div class="alternativas">

      <div
        class="alternativa"
        *ngFor="let alternativa of alternativas"
        [class.selecionada]="alternativaSelecionada === alternativa.letra"
        (click)="selecionarAlternativa(alternativa.letra)">

        <span class="bolinha"></span>

        <p>
          {{ alternativa.texto }}
        </p>

      </div>

    </div>

    <div class="dica-box" *ngIf="mostrarDica">
      💡 {{ perguntaAtual.dica }}
    </div>

    <div class="botoes">

      <button
        class="dica-btn"
        (click)="usarDica()"
        [disabled]="dicaUsada">

        Dica (-25)

      </button>

      <button
        class="responder-btn"
        (click)="responderEProxima()"
        [disabled]="!alternativaSelecionada">

        Responder e ir para próxima

      </button>

      <button
        class="pular-btn"
        (click)="pularPergunta()">

        Pular pergunta (-25)

      </button>

    </div>

  </div>



</div>
